//Обнуляющий стиль
@import "nullstyle.scss";

body {
	padding: 30px 5px;
	background-color: #4037f8;
	text-align: center;
}

.title {
	font-style: italic;
	font-size: 30px;
	font-family: serif;
	font-weight: 700;
	margin-bottom: 30px;
	color: #060606;
}

.container {
	display: flex;
	flex-direction: column;
}

.button {
	width: 200px;
	height: 50px;
	border-radius: 30px;
	font-weight: 500;
	font-size: 20px;
	font-style: italic;
	background-color: gray;
	border: 1px solid #000;
	transition: all 0.3s ease 0s;
	color: #060606;
}

.button:hover {
	background-color: #616363;
}

a {
	display: block;
	margin-bottom: 30px;
}